
.hero-banner {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}
.zero{
    width: 20px;
    height: 20px;
    background: #fef5d9;
    position:absolute;
    top:10px;
    right:-10px;
    font-size:12px;
}

.hero-text {
    max-width: 600px;
    color: #000;
}
.nav-link{
    color: #4b4b4b;

}
.nav-item:hover{
    background: #ead9a6;
}
.shop{
    background:#fef5d9;
}

.hero-text .category {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.hero-text .title {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: -2px;
}

.btn-shop {
    display: inline-block;
    padding: 12px 35px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

.custom-arrow {
    width: 50px;
    height: 50px;
    background-color:white;
    border-radius: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 18px;
    transition: 0.3s;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    width: 8%;
}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.product-item img {
    object-fit: cover;
    height: 450px;
}
.bg-light-gray {
    background-color:#f5f3ed;
}

.dots i {
    font-size: 6px;
    color: #ccc;
    cursor: pointer;
}

.object-fit-cover {
    object-fit: cover;
    min-height: 500px;
}

.text-end h2 {
    font-size: 28px;
    letter-spacing: -1px;
}

.text-end p {
    line-height: 1.8;
    font-size: 13px;
}
.bottom-line{
    display: inline-block;
    width:100px;
    border-bottom: 2px solid black;
    margin-left:5px;
    vertical-align: baseline;
   
}
.gender-banner img {
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gender-banner:hover img {
    transform: scale(1.05);
}

.gender-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.btn-gender {
    padding: 12px 30px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.3s;
}

.btn-gender:hover {
    background-color: #000;
    color: #fff;
}

.blog-info {
    background: #fff;
    margin: -120px 0px 0 150px;
    padding: 25px;
    padding-left: 50px;
    position: relative;
    z-index: 15;
}

.blog-h-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.blog-text {
    font-size: 13px;
    line-height: 1.6;
}

.blog-meta {
    font-size: 11px;
    font-weight: bold;
}
.bg-light-gray {
    background-color:#f5f3ed;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #6c757d;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #000;
    padding-left: 5px;
    border-bottom: #000 1px solid;
}

.newsletter-form .form-control {
    border-radius: 0;
    border: 1px solid #090808;
    font-size: 13px;
}

.btn-signup {
    border-radius: 0;
    font-size: 12px;
  
}
.arrow {
  margin-left: 0px;  
  opacity: 0; 
  transition: all 0.3s ease;
  transform: translateX(-5px);
}


.btn:hover .arrow{
  opacity: 1;         
  margin-left: 10px;
  transform: translateX(0);
  
}

.btn-gender:hover .arrow{
opacity: 1;         
  margin-left: 10px;
  transform: translateX(0);
}
.view-more:hover .arrow{
    opacity: 1;         
  margin-left: 10px;
  transform: translateX(0);
  background: white;
}

.payment-icons i {
    font-size: 24px;
   
}

.social-icons a {
    font-size: 14px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #555 !important;
}
.back-to-top {
    position: fixed;
    bottom:25px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 50%;  
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 9999; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-decoration: none;
    transition: 0.3s;
}
.text-light-gray {
    color: #e0e0e0;
}

.testimonial-text {
    font-size: 15px;
    line-height: 1.8;
    color: #333;
    min-height: 80px;
}

.customer-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.dots i {
    font-size: 8px;
    color: #ddd;
    cursor: pointer;
}
.payment-icon {
    object-fit: contain;
    padding: 5px;
    background: white !important;
    width: 40px;
    height: 25px;
    
}
@media (max-width: 767.98px) {
    .container, .container-fluid, section , footer, nav, .shop , #daisySlider, .mission-section{
        margin-left: 0 !important;
        margin-right: 80px !important;
       
    }
}
.product-title:hover
{
text-decoration: underline;
}


